

/* PC */
@media (min-width: 1024px)
{
    .hide-on-PC {
        display: none;
    }

    .user-body__input {
        margin-left: 8px;
    }

}


/* Tablet & Mobile*/

@media (max-width: 1023px)
{
    .hide-on-mobile-tablet {
        display: none;
    }

    .contact-nav {
        height:var(--contact-nav-height-tablet-mobile);
        background-color: #40d0d4;
    }

    .contact-nav {
        display: block;
    }

    .contact-nav__list-tab-mob {
        display: block;
        padding: 0;
    }

    .contact-nav__items-user {
        display: block;
    }
    
    .header-tab-mob {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 69px;
        padding: 0 84px;
    }


    .header-nav__link {
        padding: 0;
        height: 42px;
        line-height: 42px;
        display: none;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        animation: a ease 2s;
    }

    @keyframes a {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 10px;
            opacity: 1;
        }
    }

    .header-nav__items {
        height: 42px;
        position: relative;
    }

    .header-nav__items::after {
        content: "";
        position: absolute;
        width: 100%;
        border: 0.2px solid rgb(224, 224, 224);
        bottom: 0;
        display: none;
        animation: b ease 2s;
    }

    @keyframes b {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .decoration-text::after {
        display: none;
    }

    .header-nav__items:hover .header-nav__items-elements,
    .header-nav__items:hover .header-nav__items-home {
        display: none;
    }

  
    .menu-on-tab {
        position: relative;
    }


    .header-nav__list {
        display: block;
        padding-left: 84px;
        padding-right: 84px;
        height: 0;
        z-index: 2;
        position: absolute;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgb(187 185 185);
        transition: height ease-out 0.3s;
    }

    .menu-on-tab:checked ~ .header-nav__list {   
        height: 310px;

    }

    .menu-on-tab:checked ~ .header-nav__list .header-nav__items::after,
    .menu-on-tab:checked ~ .header-nav__list .header-nav__link {
        display: flex;
    }


    .row-tab-mob {
        padding-top: 52px;
    }

    .container {
        background-color: var(--white-color);
    }

    

    .popular-tours__img {
        width: 394px;
        aspect-ratio: auto 394 / 262;
        height: 262px;
        margin-top: 70px;
        margin-bottom: 41px;
        
    }

    .popular-tours {
        margin-left: 0;
        padding-top: 0;
    }

    .popular-tours__progess,
    .popular-tours__text {
        width: 100%;
    }

    .popular-tour__img2 {
        height: 310px;
    }

    .best-tour__bgc-img {
        /* width: 100%; */
        /* height: 285px; */
    }

    .best-tour__img-1,
    .best-tour__img {
        width: 100%;
    }

    .best-tour__img-1 {
        height: 600px;
    }
    
    .best-tour__count-text {
        margin-bottom: 60px;
    }

    .out-tours__col {
        display: flex;
        margin-bottom: 33px;
    }
    
    .out-tours__row {
        margin-bottom: 0;
    }

    .our-tours__contain {
        padding-bottom: 60px;
    }

    .our-tours__contain-img {
        text-align: justify;
        padding-top: 0;
        padding-bottom: 170px;
    }
    
    .padding-tab-mob {
        padding-bottom: 75px;
    }

}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px)
{
    .hide-on-tablet {
        display: none;
    }

    .container-slider__img {
        height: 355px;
        width: 100%;
    }
}

/* Mobile */

@media (max-width:739px)
{
    .hide-on-mobile {
        display: none;
    }
    
    .container-slider__img {
        height: 365px;
        width: 100%;
        padding-bottom: 30px;
    }

    .popular-tours__img {
        height: 200px;
        width: 100%;
        margin-top: 40px;
    }

    .container-slider__img-mb {
        height: 574px;
    }

    .popular-tours__title {
        font-size: 2.8rem;
    }

    .best-tour__title {
        font-size: 3.5rem;
    }

    .best-tour__text {
        width: 100%;
    }

    .best-tour__bgc-img-1 {
        padding-bottom: 30px;
    }

    .our-tours__img {
        width: 100%;
        height: 300px;
    }

    .padding-tab-mob {
        padding-bottom: 50px;
    }

    .best-tour__sort-layout1 {
        margin-top: 30px;
    }

    .popular-tour__img2 {
        height: auto;
        /* margin-top: 90px;
        padding: 0; */

    }

    .header-tab-mob {
        padding: 0 40px;
    }

}